.plane {
  position: absolute;
  width: 6vh;
  height: auto;
  transform: rotateZ(270deg);
  top: -200px;
  left: 0%;
  animation: appearPlane 9s ease-out;
  transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1000;
}

.partHead {
  font-size: 3em;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 4%;
  @media (max-width: 800px) {
    font-size: 7.5vw;
  }
}
.aboutText {
  margin-top: 4%;
  margin-left: 5%;
  font-weight: 500;
  width: 85%;
  font-size: 1.3em;
  @media (max-width: 800px) {
    margin-top: 6%;
    font-size: 4vw;
  }
}
.link {
  color: #4bd1e7;
  text-decoration: underline;
  cursor: pointer;
}
.stackList {
  display: flex;
  justify-content: center;
  @media (max-width: 900px) {
    display: block;
  }
  .stackPart {
    font-size: 1.4em;
    margin: 0px 1%;
    width: 9em;
    padding-left: 50px;
    padding-bottom: 30px;
    border-left: 2px solid white;
    @media (max-width: 900px) {
      margin: 0px auto;
      border-left: 0px solid white;
      font-size: 1.8em;
      padding-top: 30px;
      border-bottom: 2px solid white;
      &:nth-child(2n-1) {
        border-left: 2px solid white;
      }
      &:nth-child(2n) {
        border-right: 2px solid white;
      }
    }
    @media (max-width: 600px) {
      font-size: 5vw;
    }
    .stackPartHead {
      font-size: inherit;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 1.2em;
    }
    .stackPartText {
      margin-top: 0.9em;
      word-spacing: 2px;
      margin-left: 1em;
    }
  }
}
.arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4vw;
  .projectArrow1 {
    filter: invert(1);
    width: 40px;
    height: auto;
    transform: rotateZ(180deg);
    cursor: pointer;
  }
  .projectArrow2 {
    filter: invert(1);
    width: 40px;
    height: auto;
    cursor: pointer;
  }
}
.projects {
  transition: all 0.35s ease;
  .project {
    display: flex;
    margin-top: 1vw;
    justify-content: space-between;
    height: 500px;
    @media (max-width: 1400px) {
      height: 35vw;
    }
    @media (max-width: 900px) {
      display: block;
    }
    .projectText {
      width: 37%;
      @media (max-width: 900px) {
        width: 100%;
        margin-bottom: 4vw;
      }
      .projectTextHead {
        margin-top: 2.5vw;
        font-size: 2.1em;
        @media (max-width: 1500px) {
          font-size: 2.3vw;
        }
        @media (max-width: 900px) {
          font-size: 3.5vw;
          text-align: center;
        }
      }
      .projectTextDesc {
        margin-top: 2.5vw;
        font-size: 1.3em;
        @media (max-width: 1500px) {
          font-size: 1.5vw;
        }
        @media (max-width: 900px) {
          display: none;
        }
      }
    }
    .projectImages {
      width: 55%;
      z-index: 0;
      overflow: hidden;
      height: 25vw;
      @media (max-width: 900px) {
        width: 100%;
        height: 43vw;
      }
      .projectImgsFlex {
        width: 300%;
        position: relative;
        display: flex;
        transition: all 1s ease;
        height: 100%;
        .projectImg {
          display: contents;
          width: 100%;
          height: 100%;
          z-index: 0;
          transition: all 1s ease;
          &:first-child {
            margin-left: -100%;
            animation: imgToRight 1s ease;
          }
          .projectImgIn {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            text-align: center;
            line-height: 100%;
          }
          .projectImgLoading {
            display: block;
            width: 100%;
            position: relative;
            top: 50%;
          }
        }
      }
      .photoArrows {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 0px;
        margin-top: -31%;
        z-index: 100;
        .photoToggle {
          background-color: white;
          width: 1.4em;
          height: 1.4em;
          filter: invert(1);
          padding: 10px;
          border-radius: 100px;
          opacity: 0.2;
          transition: all 0.2s ease;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
          @media (max-width: 1500px) {
            width: 2vw;
            height: 2vw;
          }
        }
        .arr1 {
          margin: 0px 0.5vw;
          transform: rotateZ(180deg);
        }
        .arr2 {
          margin: 0px 0.5vw;
        }
      }
      .photoLine {
        width: 0%;
        margin-left: 2.5%;
        height: 3px;
        border-radius: 7px;
        background-color: #4bd1e7;
        z-index: 100;
        position: relative;
        top: -12px;
        opacity: 0.5;
        transition: all 7s linear;
      }
    }
    .projectTextDescMob {
      display: none;
      font-size: 3vw;
      @media (max-width: 900px) {
        margin-top: 3vw;
        display: block;
      }
    }
  }
}
