.plane {
  position: absolute;
  width: 6vh;
  height: auto;
  transform: rotateZ(270deg);
  top: -200px;
  left: 0%;
  animation: appearPlane 9s ease-out;
  transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1000;
}

.partHead {
  font-size: 3em;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 4%;
  @media (max-width: 800px) {
    font-size: 7.5vw;
  }
}
.aboutText {
  margin-top: 4%;
  margin-left: 5%;
  font-weight: 500;
  width: 85%;
  font-size: 1.3em;
  @media (max-width: 800px) {
    margin-top: 6%;
    font-size: 4vw;
  }
  li {
    margin-top: 20px;
    margin-left: 30px;
  }
}
.link {
  color: #4bd1e7;
  text-decoration: underline;
  cursor: pointer;
}
.stackList {
  display: flex;
  justify-content: center;
  @media (max-width: 900px) {
    display: block;
  }
  .stackPart {
    font-size: 1.4em;
    margin: 0px 1%;
    width: 9em;
    padding-left: 50px;
    padding-bottom: 30px;
    border-left: 2px solid white;
    @media (max-width: 900px) {
      margin: 0px auto;
      border-left: 0px solid white;
      font-size: 1.8em;
      padding-top: 20px;
      border-top: 2px solid white;
      &:first-child {
        border-top: 0px solid white;
      }
      &:nth-child(2n-1) {
        border-left: 2px solid white;
      }
      &:nth-child(2n) {
        border-right: 2px solid white;
      }
    }
    @media (max-width: 600px) {
      font-size: 5vw;
    }
    .stackPartHead {
      font-size: inherit;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 1.2em;
    }
    .stackPartText {
      margin-top: 0.9em;
      word-spacing: 2px;
      margin-left: 1em;
    }
  }
}
