.plane {
  position: absolute;
  width: 65px;
  height: auto;
  transform: rotateZ(270deg);
  top: -200px;
  left: 0%;
  animation: appearPlane 9s ease-out;
  transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1000;
  @media (max-width: 600px) {
    width: 50px;
  }
}

.partHead {
  font-size: 3em;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 4%;
  @media (max-width: 800px) {
    font-size: 7.5vw;
  }
}
.aboutText {
  margin-top: 4%;
  margin-left: 5%;
  font-weight: 500;
  width: 85%;
  font-size: 1.3em;
  @media (max-width: 800px) {
    margin-top: 6%;
    font-size: 4vw;
  }
  .textPoint {
    margin-top: 20px;
    margin-left: 30px;
  }
}
.link {
  color: #4bd1e7;
  text-decoration: underline;
  cursor: pointer;
}
.linkDown {
  color: #4bd1e7;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
.stackList {
  display: flex;
  justify-content: center;
  @media (max-width: 900px) {
    display: block;
  }
  .stackPart {
    font-size: 1.4em;
    margin: 0px 1%;
    width: 9em;
    padding-left: 50px;
    padding-bottom: 30px;
    border-left: 2px solid white;
    @media (max-width: 900px) {
      width: 10em;
      margin: 0px auto;
      border-left: 0px solid white;
      font-size: 1.8em;
      padding-top: 20px;
      border-top: 2px solid white;
      &:first-child {
        border-top: 0px solid white;
      }
      &:nth-child(2n-1) {
        border-left: 2px solid white;
      }
      &:nth-child(2n) {
        border-right: 2px solid white;
      }
    }
    @media (max-width: 600px) {
      font-size: 5vw;
    }
    .stackPartHead {
      font-size: inherit;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 1.2em;
    }
    .stackPartText {
      margin-top: 0.9em;
      word-spacing: 2px;
      margin-left: 1em;
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

@keyframes cloudAnim {
  0% {
    transform: scale(1) skew(0deg);
  }
  25% {
    transform: scale(1.01) skew(-1deg);
  }
  50% {
    transform: scale(1.02) skew(1deg);
  }
  75% {
    transform: scale(1.01) skew(-1deg);
  }
  100% {
    transform: scale(1) skew(0deg);
  }
}

$contacts-mobile_width: 850px;

.contactsForm {
  height: 600px;
  width: 100%;
  font-size: 2em;
  text-align: center;
  animation: cloudAnim 6s ease infinite;
  @media (max-width: 1100px) {
    height: 55vw;
    font-size: 2.9vw;
  }
  @media (max-width: $contacts-mobile_width) {
    height: 65vw;
    font-size: 4.5vw;
  }
  .contImage {
    width: 800px;
    height: auto;
    position: relative;
    margin: auto;
    z-index: -100;
    @media (max-width: 1100px) {
      width: 70vw;
    }
    @media (max-width: $contacts-mobile_width) {
      width: 85vw;
    }
  }
  .contText {
    margin-top: 5em;
    text-align: center;
    color: #24324e;
    font-weight: 600;
    @media (max-width: 1100px) {
      margin-top: 13vw;
    }
    @media (max-width: $contacts-mobile_width) {
      margin-top: 17vw;
    }
  }
  .contEmail {
    margin-top: 1vw;
    color: #4bd1e7;
    text-decoration: none;
  }
  .contLinks {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    position: relative;
    left: -1vw;
    gap: 1vw;
    @media (max-width: 1100px) {
      margin-top: 7vw;
    }
    @media (max-width: $contacts-mobile_width) {
      margin-top: 4vw;
    }
    .contLinkImg {
      width: 70px;
      height: auto;
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        transform: scale(1.08);
      }
      @media (max-width: 1100px) {
        width: 7vw;
      }
      @media (max-width: $contacts-mobile_width) {
        width: 9vw;
      }
    }
  }
}

.mainFooter {
  display: inline-block;
  height: 100px;
  width: 100%;
  border-top: 2px solid white;
  .line {
    border-top: 2px dashed white;
    margin-top: 52px;
    bottom: 0px;
  }
}
