@keyframes appearBody {
  from {
    opacity: 0;
    background-color: white;
  }
  50% {
    opacity: 0;
    background-color: #030613;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #030613; /* #051127 */
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  /*animation: app earBody 1.5s ease;*/
}
.point {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 2px;
  z-index: -1;
  transition: all 0s linear;
  opacity: 0;
}
