body {
  /* background-color: #030613; */
  background: linear-gradient(
    #030613 40%,
    #24324e 68%,
    #455d89,
    #6589c3,
    #86b4fe 83%
  );
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (max-width: 600px) {
    background: linear-gradient(
      #030613 40%,
      #24324e 68%,
      #455d89,
      #6589c3,
      #86b4fe 95%
    );
  }
}
.point {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 2px;
  z-index: -1;
  transition: all 0s linear;
  opacity: 0;
}
