.page {
  position: fixed;
  top: 100%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  .portBackImg {
    position: absolute;
    width: 55px;
    height: auto;
    top: 20px;
    left: 10px;
    transform: rotateY(180deg);
    transition: all 0.3s ease;
    cursor: pointer;
    @media (max-width: 800px) {
      width: 40px;
    }
  }
  .portTitle {
    font-size: 3em;
    font-weight: 500;
    margin-top: 0.5em;
    text-align: center;
    margin: 0.5em 5vw;
    @media (max-width: 800px) {
      margin-top: 0.6em;
      font-size: 9vw;
    }
  }
  .portPostTitle {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.5em auto;
    text-align: center;
    max-width: 1300px;
    width: 90%;
    @media (max-width: 800px) {
      margin-top: 0.7em;
      font-size: 5vw;
    }
  }
  .portContainer {
    max-width: 1300px;
    width: 90%;
    background-color: black;
    margin: 50px auto 0px;
  }
}
